
<div id="wrapper">

	<!-- Sidebar -->

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/admintasks">Prabandh</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav side-nav">
				<li class="active"><a href="#/admintasks"><i class="fa fa-dashboard"></i>
						Prabandh</a></li>
				<li><a href="#/admintasks"><i class="fa fa-tasks"></i> tasks</a></li>
				<!-- <li><a href="#/newtask"><i class="fa fa-plus"></i> new tasks</a></li> -->
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-bar-chart-o"></i> Charts<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#/viewadminchart">Project Chart</a></li>
						<li><a href="#/viewadminganttchart">Gantt Chart</a></li>
						<li><a href="#/adminganttchart1">new Gantt Chart</a></li>
					</ul>
				</li>
				<li><a href="#/adminuserlist"><i class="fa fa-users"></i> User</a></li>
				<li class="dropdown"><a class="dropdown-toggle"	data-toggle="dropdown">
				<i class="fa fa-envelope"></i> Compose Mail<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#/adminsinglemail">Send To Individual</a></li>
						<li><a href="#/adminmailtoall">Send To All</a></li>
					</ul>
				</li>
				<li><a href="#/adminuserdetail/{{loginusrid}}"><i class="fa fa-user"></i> profile</a></li>
				<li><a href="#"><i class="fa fa-desktop"></i> About Us</a></li>

			</ul>


			<ul class="nav navbar-nav navbar-right navbar-user">
				<!-- <li class="dropdown messages-dropdown"><a
					class="dropdown-toggle" data-toggle="dropdown"><i
						class="fa fa-envelope"></i> Messages <span class="badge">7</span>
						<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">7 New Messages</li>
						<li class="message-preview"><a href="#"> <span
								class="avatar"><img src="http://placehold.it/50x50"></span>
								<span class="name">John Smith:</span> <span class="message">Hey
									there, I wanted to ask you something...</span> <span class="time"><i
									class="fa fa-clock-o"></i> 4:34 PM</span>
						</a></li>
						<li class="divider"></li>
						<li class="message-preview"><a href="#"> <span
								class="avatar"><img src="http://placehold.it/50x50"></span>
								<span class="name">John Smith:</span> <span class="message">Hey
									there, I wanted to ask you something...</span> <span class="time"><i
									class="fa fa-clock-o"></i> 4:34 PM</span>
						</a></li>
						<li class="divider"></li>
						<li class="message-preview"><a href="#"> <span
								class="avatar"><img src="http://placehold.it/50x50"></span>
								<span class="name">John Smith:</span> <span class="message">Hey
									there, I wanted to ask you something...</span> <span class="time"><i
									class="fa fa-clock-o"></i> 4:34 PM</span>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">View Inbox <span class="badge">7</span></a></li>
					</ul></li>
				<li class="dropdown alerts-dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown"><i class="fa fa-bell"></i> Alerts <span
						class="badge">3</span> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Default <span class="label label-default">Default</span></a></li>
						<li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>
						<li><a href="#">Success <span class="label label-success">Success</span></a></li>
						<li><a href="#">Info <span class="label label-info">Info</span></a></li>
						<li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>
						<li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>
						<li class="divider"></li>
						<li><a href="#">View All</a></li>
					</ul></li> -->
				<li class="dropdown user-dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown"><i class="fa fa-user"></i>{{loginusrname}}<b
						class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#/userprofile"><i class="fa fa-user"></i>
								Profile</a></li>
						<li><a href="#"><i class="fa fa-envelope"></i>{{loginusrmail}}<span
								class="badge">7</span></a></li>
						<li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
						<li class="divider"></li>
						<li><a ng-click="logout()"><i class="fa fa-power-off"></i>
								Log Out</a></li>
					</ul></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>


	<div id="page-wrapper">
		<div class="row phone-listing" style="margin-top: -20px">
			<div class="col-lg-12">
				<h1>
					Mail <small>Statistics Overview</small>
				</h1>
				<ol class="breadcrumb">
					<li class="active"><i class="fa fa-dashboard"></i> Prabandh</li>
				</ol>
			</div>
		</div>

		<div class="row phone-listing">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">
							<i class="fa fa-envelope"></i> New Email
						</h3>
					</div>
					<div class="panel-body">
						<form class="form-horizontal">
							<fieldset>

								<!-- Form Name -->
								<legend>Send Notice</legend>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-4 control-label" for="recipient"></label>
									<div class="col-md-5">
										<input id="recipient" name="recipient" type="hidden"
											placeholder="" class="form-control input-md" required=""
											ng-model="mail.alertTo.emailId">
									</div>
								</div>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-4 control-label" for="subject">Subject</label>
									<div class="col-md-5">
										<input id="subject" name="subject" type="text" placeholder=""
											class="form-control input-md" required=""
											ng-model="mail.alertTopic">
									</div>
								</div>

								<!-- Textarea -->
								<div class="form-group">
									<label class="col-md-4 control-label" for="project_description">Message
										Body</label>
									<div class="col-md-5">
										<textarea class="form-control" id="project_description"
											ng-model="mail.alertMessage" name="project_description"
											required="" style="height: 150px"></textarea>
									</div>
								</div>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-4 control-label" for="sending_date">Sending
										Date</label>
									<div class="col-md-5">
										<input id="sending_date" name="sending_date" type="text"
											placeholder="" class="form-control input-md" required=""
											readonly ng-model="mail.sendingDate">
									</div>
								</div>
								<input id="alertto" name="alertto" type="hidden" placeholder=""
									class="form-control input-md" required=""
									ng-model="mail.alertTo"> <input id="alertby"
									name="alertby" type="hidden" placeholder=""
									class="form-control input-md" required=""
									ng-model="mail.alertBy"> <input id="alertby"
									name="alertby" type="hidden" placeholder=""
									class="form-control input-md" required=""
									ng-model="mail.msgStatus">

								<!-- Button (Double) -->
								<div class="form-group">
									<label class="col-md-4 control-label" for="accept"></label>
									<div class="col-md-8">
										<button id="accept" name="accept" class="btn btn-success"
											ng-click="mailToAll()">Send To All</button>
										<button id="reject" name="reject" class="btn btn-danger">Cancel</button>
									</div>
								</div>

							</fieldset>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>