<div class="container-fluid">
	<div id="navbar">
		<div class="container-fluid">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#bs-navbar-collapse-1">
						<span class="white"><strong>Sign in</strong></span>
					</button>
					<p class="label col-sm-2 white"
						style="margin-top: 10px; font-size: 20px">Prabandh</p>
				</div>
				<form class="form-horizontal" name="loginfrm"
					ng-submit=authenticateUser()>
					<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
						<ul style="margin-top: 8px" class="nav navbar-nav navbar-right">
							<li style="margin-left: 10px"><input id="login-username"
								type="text" ng-model="username" class="form-control"
								name="username" value="" placeholder="emai id"
								autofocus="autofocus" required title="Enter Email id"></li>
							<li style="margin-left: 10px"><input id="login-password"
								type="password" class="form-control" name="password"
								ng-model="password" placeholder="password" required title=""></li>
							<li style="margin-left: 10px; margin-right: 5px;">
								<button type="submit" class="btn btn-primary btn-sm">
									Login <span class="glyphicon glyphicon-lock"></span>
								</button>
							</li>
						</ul>

					</div>

				</form>

			</nav>
		</div>
	</div>
</div>
<!-- Registration Form Division -->
<div class="container">
	<div id="loginbox" style="margin-top: 50px;"
		class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">Choose a new Password</div>
			</div>
			<div style="padding-top: 30px" class="panel-body">

				<div style="display: none" id="login-alert"
					class="alert alert-danger col-sm-12"></div>

				<form id="resetPasswordForm" name="resetPasswordForm"
					class="form-horizontal" role="form" ng-submit="resetPassword()">
					<p style="font-size: 11px">A strong password is a combination
						of letters and special symbols.It must be at least 6 characters
						long</p>
					<div style="margin-bottom: 35px">
						<label class="control-label" for="txtPassword">New
							password <span class="required"> *</span>
						</label><input type="password" name="txtPassword"
							class="form-control input-md"
							ng-model="resetPasswordForm.password" required
							title="Password is required" ng-minlength="6"
							ng-pattern='/^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[\d\W]).*$/'>
						<p
							ng-show="!duplicate&&resetPasswordForm.txtPassword.$invalid && !resetPasswordForm.txtPassword.$pristine"
							class="help-block" style="color: red">contain at least upper
							letter and symbol and number.</p>
						<p ng-show="resetPasswordForm.txtPassword.$error.minlength"
							class="help-block" style="color: red">It must be at least 6
							characters long.</p>
					</div>
					<div style="margin-top: 10px" class="form-group">
						<!-- Button -->

						<div class="col-sm-12 controls">
							<button type="submit" id="btn-login"
								class="btn btn-primary btn-sm">Change password</button>
							<a href="#Home" class="btn btn-danger btn-sm">Cancel</a>


						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
